DATABASE_URL=postgresql+asyncpg://postgres:password@127.0.0.1:5432/database

TELEGRAM_BOT_TOKEN=6...:A...
USE_WEBHOOK=False
WEBHOOK_RESET=False
WEBHOOK_BASE_URL=
WEBHOOK_HOST=
WEBHOOK_PATH=
WEBHOOK_PORT=

MINIAPP_HOST=127.0.0.1
MINIAPP_PATH=template
MINIAPP_PORT=8082

DROP_PENDING_UPDATES=True